<!DOCTYPE html>
<html>
  <head>
      <%= favicon_link_tag asset_path('favicon.png') %>
    <title>Crown Games</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-default">
      <div class="container">

        <div class="navbar-header">
          <%= link_to "Crown Games", root_path, class: "navbar-brand" %>
        </div>

        <ul class="nav navbar-nav">
          <% if user_signed_in? %>
            <% if current_user.admin? %>
              <li> <%= link_to "Add Game", new_game_path %></li>
            <% end %>
          <% end %>
        </ul>
        <ul class="nav navbar-nav">
          <%= form_tag(search_page_path, :method => "get",
              class: 'navbar-form navbar-left') do %>
            <div class="input-group">
              <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>
            </div>
          <% end %>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <ul class="nav navbar-nav"></ul>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Genres
              </button>
              <ul class="dropdown-menu" role="menu">
                <% Category.all.each do |category| %>
                  <li class="<%= 'active' if params[:category] == category.name %>">
                    <%= link_to category.name, games_path(category: category.name), class: "link" %>
                  </li>
                <% end %>
              </ul>
            </div>
          </ul>
          <ul class="nav navbar-nav">
              <% if user_signed_in? %>
                <li> <%= link_to "Log Out", destroy_user_session_path, method: :delete, data: {confirm: "Log Out?"} %></li>
              <% else %>
                <li> <%= link_to "Log In", new_user_session_path %></li>
                <li> <%= link_to "Sign Up", new_user_registration_path %></li>
              <% end %>
            </ul>
        </ul>

      </div>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="container">
        <%= yield %>
    </div>
    
  </body>
</html>
